body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto;
  color: #202124;
  background: #fff;
  height: 100vh;
}

header {
  font: 13px/27px Roboto, Arial, sans-serif;
  z-index: 986;
  height: 10vh;
  color: black;
  min-width: 160px;
  display: block;
  height: 10pv;
}

.container-nav {
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  padding-left: 30px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  font: 13px/27px Roboto, Arial, sans-serif;
  color: black;
  min-width: 160px;
  position: relative;
  transition: box-shadow 250ms;
}

.box {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

#img-link {
  width: 50px;
  height: 50px;
  padding-left: 15px;
  box-sizing: border-box;
  line-height: normal;
  padding: 0 4px;
  justify-content: flex-end;
  vertical-align: middle;
  color: black;
  position: relative;
}

main {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  height: 80pv;
}

.section-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
  flex-shrink: 0;
  box-sizing: border-box;
}

.box-logo {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
  display: block;
}

#logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  height: 92px;
  aspect-ratio: auto 272 / 92;
  width: 272px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.section-search {
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
  position: relative;
  display: flex;
  z-index: 3;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
}

.img-search {
  margin-top: 3px;
  color: #9aa0a6;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
  overflow-clip-margin: content-box;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transform-origin: 0px 0px;
}

#input-search {
  flex: 1;
  display: flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
}

#button-search {
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
  display: inline-block;
  fill: currentColor;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
}

.section-button {
  height: 70px;
  padding-top: 18px;
  display: block;
  text-align: -webkit-center;
}

#search {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
 
}

#lucky {

  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  

}

#Info-google {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-size: small;
  margin-bottom: 24px;
  color: #4d5156;
  line-height: 28px;
  padding: 0 3px;
  margin: 0 2px;
  white-space: nowrap;
}

footer {
  background: #f2f2f2;
  flex-shrink: 0;
  box-sizing: border-box;  
  height: 10pv;
}

.div-col {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  font-family: arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}
.div-link {
  background: #f2f2f2;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: arial, sans-serif; 
}

.footer-link {  
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

.footer-link:visited{
  color: #681da8;
}
  
.footer-link:hover, .footer-link:active {
  text-decoration: underline;
}
.footer-link:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.other-link {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;

}
@media only screen and (max-width: 1200px)
.div-link {
    justify-content: space-evenly;
}
@media only screen and (max-width: 1200px) .div-link {
  justify-content: space-evenly;
}